In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [3]:
df = pd.read_csv('data/01_raw/data.csv')

In [4]:
df.head()

,Chad,Cuba,Fiji,Guam,Iraq,Mali,Oman,Peru,Togo,Year,...,East Asia & Pacific (IDA & IBRD countries),Sub-Saharan Africa (excluding high income),East Asia & Pacific (excluding high income),Europe & Central Asia (IDA & IBRD countries),Least developed countries: UN classification,Europe & Central Asia (excluding high income),Latin America & Caribbean (excluding high income),Middle East & North Africa (IDA & IBRD countries),Middle East & North Africa (excluding high income),Latin America & the Caribbean (IDA & IBRD countries)
0,102.819470,NaN,277.431535,NaN,218.917803,NaN,83.385306,252.796783,102.238986,1960,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,107.320380,NaN,280.273367,NaN,232.392612,NaN,84.531160,276.641400,104.830749,1961,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,112.619958,NaN,285.473073,NaN,240.653442,NaN,102.325884,304.537818,107.761210,1962,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,114.710861,NaN,291.383574,NaN,235.513624,NaN,106.829306,324.107405,114.616211,1963,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,118.594107,NaN,305.532203,NaN,269.423093,NaN,108.059741,380.965457,130.069304,1964,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN